<div class="container">
  <div class="row">
    <div class="col-4 my-3">
      <h4 class="bg-secondary text-white text-center m-3 px-3 rounded">注文情報入力</h4>
    </div>
  </div>
  <div class="row"></div>